body{
    font-family: "Droid Sans", sans-serif;
}

.custom-panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-left: 22%;
  margin-right: 2%;
  margin-bottom: 1.25rem;
  padding: 1.25rem;  
  background: #f2f2f2;
  color: #333333; }
  .custom-panel > :first-child {
    margin-top: 0; }
  .custom-panel > :last-child {
    margin-bottom: 0; }
  .custom-panel h1, .custom-panel h2, .custom-panel h3, .custom-panel h4, .custom-panel h5, .custom-panel h6, .custom-panel p, .custom-panel li, .custom-panel dl {
    color: #333333; }
  .custom-panel h1, .custom-panel h2, .custom-panel h3, .custom-panel h4, .custom-panel h5, .custom-panel h6 {
    line-height: 1;
    margin-bottom: 0.625rem; }
    .custom-panel h1.subheader, .custom-panel h2.subheader, .custom-panel h3.subheader, .custom-panel h4.subheader, .custom-panel h5.subheader, .custom-panel h6.subheader {
      line-height: 1.4; }
  .custom-panel.callout {
    border-style: solid;
    border-width: 1px;
    border-color: #b6edff;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    background: #ecfaff;
    color: #333333; }
    .custom-panel.callout > :first-child {
      margin-top: 0; }
    .custom-panel.callout > :last-child {
      margin-bottom: 0; }
    .custom-panel.callout h1, .custom-panel.callout h2, .custom-panel.callout h3, .custom-panel.callout h4, .custom-panel.callout h5, .custom-panel.callout h6, .custom-panel.callout p, .custom-panel.callout li, .custom-panel.callout dl {
      color: #333333; }
    .custom-panel.callout h1, .custom-panel.callout h2, .custom-panel.callout h3, .custom-panel.callout h4, .custom-panel.callout h5, .custom-panel.callout h6 {
      line-height: 1;
      margin-bottom: 0.625rem; }
      .custom-panel.callout h1.subheader, .custom-panel.callout h2.subheader, .custom-panel.callout h3.subheader, .custom-panel.callout h4.subheader, .custom-panel.callout h5.subheader, .custom-panel.callout h6.subheader {
        line-height: 1.4; }
    .custom-panel.callout a:not(.button) {
      color: #008CBA; }
      .custom-panel.callout a:not(.button):hover, .custom-panel.callout a:not(.button):focus {
        color: #0078a0; }
  .custom-panel.radius {
    border-radius: 3px; }


.horizontalTab {
    height: 4rem;
}

.bExplanation {
    margin-top: 5%;
}

